
<h1 class="text-align-center">Sign In</h1>
<div style="height: 10px;"></div>
  <div class="flex-justify-center">
    <div style="padding: 40px;" class="rectangle outline ">
      <%= form_tag sessions_path do %>
        <div class="form-group">
          <%= label_tag :email %>
          <%= text_field_tag :email, "", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, "", class: "form-control" %>
        </div>
        <div class="flex-justify-center">
          <%= submit_tag "Sign In", class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
</div>
