<h1 class="text-align-center">Reviews for <%= @user.company_name %> </h1>
<div style="height: 30px;"></div>
<% @reviews_on_user.each do |review| %>
  <div class="panel panel-default">
        <div class="panel-heading"><h2><%= review.name %></h2></div>
        <div class="panel-body">
          <h2 class="pull-left"><%= review.body %></h2>
          <h1 class="pull-right"><%= review.rating %><i class="fa fa-star"></i></h1>
        </div>
        <div class="panel-footer">
          Created by:
            <%= review.reviewer.first_name %>
            <%= review.reviewer.last_name %>
        </div>
    </div>
  <% end %>



<%#= link_to 'New General review', new_general_review_path %>
